.background-primary {
    background-color: #1D3557;
}

.background-primary-overlay:hover {
    background-color: #1d355781;
}

.background-dark-overlay {
    background-color: #1d355786;
}

.background-dark-overlay:hover {
    background-color: #1D3557;
}

.txt-primary {
    color: #1D3557;
}

.background-secondary {
    background-color: #E63946;
}

.txt-secondary {
    color: #E63946;
}

.txt-secondary:hover {
    color: #A8DADC;
}

.background-secondary-light {
    background-color:#A8DADC;
}

.txt-secondary-light {
    color:#457B9D;
}

.btn-outline-primary {
    border-color: #1D3557;
    color: #1D3557;
}

.btn-outline-primary:hover {
    border-color: #457B9D;
}

.btn-outline-secondary {
    border-color: #E63946;
    color: #E63946;
}

.btn-outline-secondary:hover {
    border-color: #E63946;
    color: white;
    background-color: #E63946;
}
.kyt{
    color: #E63946;
    font-weight: bold;
}
.view{
    background-color: #1D3557;
    color: white;
}

.nav-item .active {
    color: #E63946;
}