@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    font-family: 'Raleway', 'Pyidaungsu', sans-serif;
    color: F1FAEE;
}

section {
    margin-top: 100px;
}

.img-fluid {
    height: 700px;
    width: 100%;
    border-radius: 5px;
}
.view-story {
    height: inherit;
}
.view-story-txt {
    position: relative;
    top: 40%;
}
.section-title {
    font-size: 25px;
}
.txt-secondary-light {
    font-size: 35px;
}
.btn-outline-secondary {
    font-size: 18px;
}
.text-left {
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 35px;
}
.feature-txt {
    position: relative;
    top: 40%;
}

.feature-txt h2 {
    font-size: 20px;
}

.feature-txt p {
    font-size: 12px;
}

.fa-heart:hover {
    color: rgb(128, 120, 120);
}
.storyheader {
    text-align: center;
    max-width: 40%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.header {
    color: black;
    
}
.price {
    padding-top: 30px;
}
#envelope{
    font-size: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    
}
.send {
    border-radius: 50px;
}
.section-title{
    font-weight: bold;
}
.getheader{
    font-weight: bold;
    color: black;
}
div .b{
    transform: rotate(-20deg);
}
.form-control{
    border-radius: 20px;
}
.bg-white h1{
    font-size: 18px;
}

.btn-subscribe {
    color: white;
}

.btn-subscribe:hover {
    background: rgba(255, 255, 255, 0.356);
}

/* Contact us */
.contact-us-header {
    display: inline-block; padding-left: 10px; border-left: 3px solid #E63946; letter-spacing: 0.2rem;
}